<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
    <%= simple_form_for @equipment do |f| %>
      <%= f.input :title %>
      <%= f.input :price %>
      <%= f.input :description %>

      <%= f.input :category , collection: [ "Winter sports", "Water sports", "Hiking & Camping", "Hunting & fishing", "Biking", "Golf", "Netball, Basketball & Football", "Others" ] %>

      <%= f.input :location %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.button :submit, class: "btn btn-primary btn-lg w-100" %>

    <% end %>
    </div>
  </div>
</div>


