<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight"><h1 class><%= @equipment.title %></h1></div>
        <div class="p-2 bd-highlight"><h1 class><%= @equipment.description %></h1></div>
        <div class="p-2 bd-highlight"><h1 class><%= @equipment.category %></h1></div>
        <div class="p-2 bd-highlight"><h1 class><%= @equipment.price %></h1></div>
        <div class="p-2 bd-highlight"><h1 class><%= @equipment.location %></h1></div>
      </div>
      <%= link_to 'Back', equipment_index_path %>
      <%= link_to 'Edit', edit_equipment_path(@equipment) %>
      <%= link_to 'Delete', equipment_path(@equipment), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
    </div>
      <div class="container">
        <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
        <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
        <style>
          body { margin: 0; padding: 0; }
          #map { top: 0; bottom: 0; width: 100%; }
        </style>
      </div>
      <div id="map" style="height: 320px; width: 640px">></div>
  </div>

  <%= render '/bookings/form' %>
</div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicHhjcm9uaW4iLCJhIjoiY2tnd2d0dThpMDJqbTJ6cmdra2Rqbmw4byJ9.UzNokaYnFf1IM89qnyFNxQ';
var address = '<%= @equipment.location %>';
</script>