<div class="container">
  <% @equipment.photos.each do |photo| %>
  <%= cl_image_tag photo.key, class: "w-50" %>
  <% end %>

  <div class="row">
    <div class="col">
      

      <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight"><h1 class><%= @equipment.title %></h1></div>
        <div class="p-2 bd-highlight"><h1 class><%= @equipment.description %></h1></div>
        <div class="p-2 bd-highlight"><h1 class><%= @equipment.category %></h1></div>
        <div class="p-2 bd-highlight"><h1 class><%= @equipment.price %></h1></div>
        <div class="p-2 bd-highlight"><h1 class><%= @equipment.location %></h1></div>
      </div>
      <%= link_to 'Back', equipment_index_path %>
      <%= link_to 'Edit', edit_equipment_path(@equipment) %>
      <%= link_to 'Delete', equipment_path(@equipment), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
    </div>
      <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
  </div>

  <%= render '/bookings/form' %>
</div>
